.page-projects {
    .site-media h2 {
        font-weight: 500;
        opacity: 1;
        font-size: 2.2em;
        text-align: center;
    } 

    .entry-content .entry-title a:hover {
        color: #369;
    }
}

.page-home {
    .site-media {
        height: 65vh;
        h2 {
            text-align: left;
        }
    }

    .site-media .site-wrapper .social {
        padding: 2rem 0;
    }

    @include bp(mobile) {

        .site-media {
            height: 80vh;
        }

        .site-media .site-wrapper {
            padding-bottom: -6rem;
        }

       

        .site-media .site-wrapper p{
            padding-bottom: -2rem;
        }
    }
    

    .site-media .site-wrapper {
        padding-top: 1em;
        padding-bottom: 2rem;
    }

    .site-media .site-wrapper .social{
        padding-top: 0;
    }

    
    .site-media .site-wrapper p{
        padding-bottom: 1rem;
    }
}

.page-contacts {
    .site-media {
        height: 40vh;
        text-align: center;
    }

    @include bp(mobile) {

        .site-wrapper .cont {
            justify-content: center;
            font-size: 40px;
            padding-top: 10px;
            color: white;
        }
    
        .site-media .site-wrapper h2 {
            margin-top: -9em;
        }
    }

    .site-wrapper .cont {
        justify-content: center;
        font-size: 40px;
        padding-top: 10px;
        color: white;
        padding-left: 1em;
    }

    .site-media .site-wrapper h2 {
        margin-top: -3em;
    }

    .site-media .site-wrapper {
        padding-bottom: 3rem;
    }

    @include bp(mobile) {
        .site-media .site-wrapper h2 {
            margin-top: -3em;
        }
    }
    
}

.page-about {
    .site-content .site-wrapper section p {
        font-size: 1.3em;
        padding-top: 0.5em;
        color: rgb(65, 61, 61);
    }

    .site-content .site-wrapper section h2 {
        padding-top: 2em;
        font-weight: 300;
        text-align: center;
        padding-bottom: 1em;
    }

    
    @include bp(mobile) {
        .site-content .site-wrapper section h2 {
            text-align: left;
        }
    }

    .site-content .site-wrapper section h3 {
        color: rgb(65, 61, 61);
        padding-top: 1.3em;
        font-weight: 500;
        text-align: center;
    }

    .site-content .site-wrapper section  h2 span {
        font-weight: 500;
    }

    .site-content .site-wrapper section  p span {
        font-weight: 600;
    }

    .site-content .site-wrapper section {
        border-bottom: solid  2px gray;
        padding-bottom: 3em;
        margin-bottom: 0;
    }
    .site-content .site-wrapper  .services {
        h3 {
            text-align: center;
            padding-top: 2em;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: auto;
            padding-bottom: 0;
        }
    }
}

