<label for="site-nav-toggle" class="site-nav-toggle-label">
    <span class="close"><i class="fa fa-window-close"></i></span>
    <span class="menu"><i class="fa fa-bars"></i></span>
</label>

<nav class="site-nav location-{{ include.location }}">
    <ul>
        {% assign navigation_pages = site.pages | sort:"order" %}
        {% for current_page in navigation_pages %}
        {% if current_page.title %}
        <li
            class="page-title-{{ current_page.title | slugify }}{% if current_page.url == page.url %} current-page{% endif%}">
            <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.title }}</a>

            {% if current_page.title == 'Projects' %}
            <ul>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Interior Design Projects</a></li>
                <li><a href="#">Architectural Visualizations</a></li>
            </ul>
            {% endif %}


        </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% if include.location == 'header' %}

    {% endif %}
</nav>