.page-about {
    background: rgb(238, 39, 39);
}

.page-home {
    background: rgb(89, 151, 243);
}

.page-services {
    background: blue;
}

.page-contacts {
    background: rgb(240, 240, 24);
}