.page-projects {
    .site-media h2 {
        font-weight: 500;
        opacity: 1;
        font-size: 2.2em;
        text-align: center;
    }
}

.page-home {
    .site-media {
        height: 75vh;
    }
}
